<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Employee Details
            <i class="fa-sharp fa-solid fa-circle-xmark icon" (click)="handleButtonClick()"></i>
          </h5>
                      


            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Employee Name</h6>
                <p>{{ employee['Employee Name'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Employee ID</h6>
                <p>{{ employee['Employee ID'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Gender</h6>
                <p>{{ employee['Gender'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Location</h6>
                <p>{{ employee['Location'] }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">DOB</h6>
                <p>{{ employee['CSC_DoJ'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Product Group</h6>
                <p>{{ employee['Product Group'] }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Product Work Area</h6>
                <p>{{ employee['Product Work Area'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Role</h6>
                <p>{{ employee['HL Role'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Reporting Manager</h6>
                <p>{{ employee['Reporting Manager'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Manager Email</h6>
                <p>{{ employee['Manager Email'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Dedalus ID</h6>
                <p>{{ employee['Dedalus ID'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Mail ID</h6>
                <p>{{ employee['Mail Id'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Designation</h6>
                <p>{{ employee['HL Designation'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">HL Title</h6>
                <p>{{ employee['HL Title'] }}</p>
              </div>
              
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Owning</h6>
                <p>{{ employee['Owning'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Product</h6>
                <p>{{ employee['Product'] }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <h6 class="card-subtitle">Unit</h6>
                <p>{{ employee['Unit'] }}</p>
              </div>
              <div class="col-md-6">
                <h6 class="card-subtitle">Work Group</h6>
                <p>{{ employee['Work Group'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
